<% if @error.nil? %>
  <h4>Your unsolved tickets</h3>
  <p class="text-secondary"><%= @count %> Tickets</p>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <% if @previous_page %>
        <li class="page-item">
          <a class="page-link" href="/tickets?page=<%= params[:page].to_i - 1 %>" >Previous</a>
        </li>
      <% end %>

       <li class="page-item">
        <a class="page-link" href="/tickets?page=<%= @first_page %>"> <%= @first_page %></a>
      </li>

      <% if @current_page == 1 || @current_page == 9 %>
        <a href="/tickets?page=<%= @current_page %>"></a>
      <% else %>
        <li class="page-item">
          <a class="page-link" href="/tickets?page=<%= @current_page %>"> <%= @current_page %></a>
        </li>
      <% end %>

      <li class="page-item">
        <a class="page-link" href="/tickets?page=<%= @last_page %>"> <%= @last_page %></a>
      </li>

      <% if @next_page %>
      <li class="page-item">
        <a class="page-link" href="/tickets?page=<%= params[:page].to_i + 1 %>">Next</a>
      </li>
      <% end %>
  </ul>
</nav>
  <% if @tickets.size == 0 %> 
    <div class="alert alert-danger" role="alert">
      <h5 class="text-center mt-1"> No tickets found </h5>
    </div>
  <% else %>
  <table class="table">
    <thead class="bg-warning">
      <tr>
        <th>Subject</th>
        <th>Requester ID</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @tickets.each do |ticket| %>
        <tr class="shadow p-3 mb-5 bg-white rounded">
          <td >
            <a href="/tickets/<%=ticket['id']%>"><%= ticket.dig('subject')%></a>
          </td>
          <td><%= ticket.dig('requester_id')%></td>
          <td><%= ticket.dig('status')%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
<% else %>
  <%= @error %>
<% end %>