<% if @error.nil? %>
  <h1><%= @ticket['subject'] %></h1> 

  <a href="javascript:history.go(-1)" class="btn btn-outline-warning" role="button">Go Back</a>
  <br>
  <br>
  <dl class="row">
    <p>
      <dt class="col-sm-2">
        <strong>Ticket ID: </strong>
      </dt>
    <dd class="col-sm-9">
        <%= @ticket['id']%>
    </dd>
    </p>
    <p>
      <dt class="col-sm-2">
        <strong>Requester ID: </strong>
      </dt>
      <dd class="col-sm-9">
        <%= @ticket['requester_id']%>
      </dd>
    </p>
    <p>
      <dt class="col-sm-2">
        <strong>Assignee ID: </strong>
      </dt>
      <dd class="col-sm-9">
        <%= @ticket['assignee_id']%>
      </dd>
    </p>
    <p>
      <dt class="col-sm-2">
        <strong>Ticket Created At: </strong>
      </dt>
      <dd class="col-sm-9">
       <%= Time.parse(@ticket["created_at"]).strftime("%Y/%b/%d %H:%M:%S") %>
      </dd>
    </p>
    <p>
      <dt class="col-sm-2">
        <strong>Ticket Updated At: </strong>
      </dt>
      <dd class="col-sm-9">
        <%= Time.parse(@ticket["updated_at"]).strftime("%Y/%b/%d %H:%M:%S") %>
      </dd>
    </p>
    <p>
      <dt class="col-sm-2">
        <strong>Status: </strong>
      </dt>
      <dd class="col-sm-9">
        <%= @ticket['status']%>
      </dd>
    </p>
    <p>
      <dt class="col-sm-2">
        <strong>Ticket Description: </strong>
      </dt>
      <dd class="col-sm-9">
          <%= @ticket['description']%>
      </dd>
    </p>
    <p>
      <dt class="col-sm-2">
        <strong>Tags: </strong>
      </dt>
      <dd class="col-sm-9">
          <%= @ticket['tags'].map { |word| word.to_s.prepend("#") }.join(' ') %>
      </dd>
    </p>
  <dl class="row">
<% elsif @error == "RecordNotFound" %>
  <div class="alert alert-danger mt-5" role="alert">  
    <h3 class="alert-heading">The requested Ticket ID not found in the record.</h3>
    <a href="javascript:history.go(-1)">Click here: go back to tickets page</a>
  </div>
<% elsif @error == "InvalidEndpoint" %>
  <div class="alert alert-danger mt-5" role="alert">  
    <h3 class="alert-heading">This is not a ValidEndpoint.</h3>
    <a href="javascript:history.go(-1)">Click here: To go back</a>
  </div>
<% elsif @error == "Couldn't authenticate you" %>
  <div class="alert alert-danger mt-5" role="alert">
    <h3 class="alert-heading">Sorry, Couldn't authenticate you.</h3>
    <hr>
    <p class="mb-0">Please request authentication credential from the owner.</p>
    <a href="javascript:history.go(-1)">Click here: To go back</a>
  </div>
<% end %>

